<h1>Courses</h1>

<%= search_form_for @query do |f| %>
  <%= f.label :search_course_info %>
  <%= f.search_field :title_or_component_or_catalogNumber_cont %>
  <%= f.submit "Filter" %>
<% end %>

<p>Find <%= @course.size %> results. Click on table title to sort</p>
<table id="computer_search_results">
  <thead>
  <tr>
    <%= content_tag :th, sort_link(@query, :title) %>
    <%= content_tag :th, sort_link(@query, :subject) %>
    <%= content_tag :th, sort_link(@query, :catalogNumber) %>
    <%= content_tag :th, sort_link(@query, :campus) %>
    <%= content_tag :th, "action" %>
    <%= content_tag :th, "Show Sections" %>
  </tr>
  </thead>
  <tbody>
  <% @course.each do |i| %>
    <tr>
      <td><%= i.title %></td>
      <td><%= i.subject %></td>
      <td><%= i.catalogNumber %></td>
      <td><%= i.campus %></td>
      <td><%= link_to 'Show', course_path(i) %></td>
      <td><a href="./show_section/<%= i.id %>">show section information</a></td>
    </tr>
  <% end %>
  </tbody>
</table>


