<h1>Courses</h1>

<%= search_form_for @query do |f| %>
  <%= f.label :search_course_info %>
  <%= f.search_field :title_or_component_or_catalogNumber_cont %>
  <%= f.submit "Filter" %>
<% end %>

<table id="computer_search_results">
  <thead>
  <tr>
    <th>title</th>
    <th>subject</th>
    <th>catalogNumber</th>
    <th>campus</th>
    <th>Check Sections</th>
  </tr>
  </thead>
  <tbody>
  <% @course.each do |i| %>
    <tr>
      <td><%= i.title %></td>
      <td><%= i.subject %></td>
      <td><%= i.catalogNumber %></td>
      <td><%= i.campus %></td>
      <td><%= link_to 'Show', course_path(i) %></td>
    </tr>
  <% end %>
  </tbody>
</table>


