<h1>Courses</h1>

<%= search_form_for @query do |f| %>
  <%= f.label :search_course_info %>
  <%= f.search_field :title_or_component_or_catalogNumber %>
  <%= f.submit %>

<%=  # TODO: Display the search result and do the sort thing  %>
<% end %>


